services:

  cctv:
    build: ./honeypots/cctv
    container_name: cctv_honeypot
    ports:
      - "2323:23"
      - "8080:80"
      - "554:554"
      - "8443:8443"
    volumes:
      - ./telemetry:/telemetry
    networks:
      - honeynet
    cap_drop:
      - NET_ADMIN
    restart: unless-stopped

  router:
    build: ./honeypots/router
    container_name: router_honeypot
    ports:
      - "2324:23"
    volumes:
      - ./telemetry:/telemetry
    networks:
      - honeynet
    depends_on:
      - cctv
    cap_drop:
      - NET_ADMIN
    restart: unless-stopped

  sensor:
    build: ./honeypots/sensor
    container_name: sensor_honeypot
    ports:
      - "1883:1883"
    volumes:
      - ./telemetry:/telemetry
    networks:
      - honeynet
    depends_on:
      - router
    cap_drop:
      - NET_ADMIN
    restart: unless-stopped

  traffic:
    build: ./honeypots/traffic
    container_name: traffic_honeypot
    ports:
      - "5555:5555"
    volumes:
      - ./telemetry:/telemetry
    networks:
      - honeynet
    depends_on:
      - sensor
    cap_drop:
      - NET_ADMIN
    restart: unless-stopped

networks:
  honeynet:
    driver: bridge
